@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.356); /* thumb color */
  border-radius: 8px;
}


